.note-input-content {
  height: 200px;
  width: 100%;
  padding: 10px;
  resize: vertical;
}

.note-container {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .note-title {
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .note-content {
    color: #666;
  }

  .note-content code {
    background: #f0f0f0;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
  }
  
  .note-date {
    color: #999;
    font-size: 0.8rem;
  }
  
  .delete-button {
    background-color: #808080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #909090; 
  }